<div class="title">Working Time</div>
<nz-select class="search-name" nzShowSearch nzAllowClear nzPlaceHolder="Search name..." [ngModel]="null"
    style="width: 20%;" (ngModelChange)="searchName($event)">
    <nz-option [nzLabel]="item.fullName" [nzValue]="item.id" *ngFor="let item of employeeList | async"></nz-option>
</nz-select>
<nz-radio-group class="filter" [ngModel]="'Approve'" nzButtonStyle="solid" (ngModelChange)="changeFilter($event)">
    <label nz-radio-button nzValue="All">All</label>
    <label nz-radio-button nzValue="Approve">Approved</label>
    <label nz-radio-button nzValue="Pending">Pending</label>
</nz-radio-group>
<nz-table #table [nzData]="filterList" [nzShowTotal]="rangeTemplate" [nzScroll]="{x: 'hidden', y: '49.5vh'}">
    <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
    <thead>
        <tr>
            <th nzAlign="center">Name</th>
            <th nzAlign="center">Apply Date</th>
            <th nzAlign="center">Morning Start Time</th>
            <th nzAlign="center">Morning End Time</th>
            <th nzAlign="center">Afternoon Start Time</th>
            <th nzAlign="center">Afternoon End Time</th>
            <th nzAlign="center">Total Time</th>
            <th nzAlign="center">Status</th>
            <th nzAlign="center">Action</th>
        </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
        <tr *ngFor="let data of table.data" cdkDrag>
            <td nz-typography nzEllipsis>
                <span nz-tooltip [nzTooltipTitle]="getUserName(data.employeeId)">{{ getUserName(data.employeeId) }}</span>
            </td>
            <td nzAlign="center">{{ data.applyDate | date: 'dd/MM/yyyy' }}</td>
            <td nzAlign="center">{{ data.morningStartTime | date: 'HH:mm' }}</td>
            <td nzAlign="center">{{ data.morningEndTime | date: 'HH:mm' }}</td>
            <td nzAlign="center">{{ data.afternoonStartTime | date: 'HH:mm' }}</td>
            <td nzAlign="center">{{ data.afternoonEndTime | date: 'HH:mm' }}</td>
            <td nzAlign="center">{{ calcTime(data.morningStartTime | date: 'HH:mm', data.morningEndTime | date: 'HH:mm')
                + calcTime(data.afternoonStartTime | date: 'HH:mm', data.afternoonEndTime | date: 'HH:mm') }}</td>
            <td nzAlign="center">
                <span *ngIf="data.status == 3 else pending" class="Approved">Approved</span>
                <ng-template #pending>
                    <span class="Pending">Pending</span>
                </ng-template>
            </td>
            <td nzAlign="center">
                <button *ngIf="data.status != 3" nz-button nzType="primary" (click)="changeStatusWorkingTime(data)">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>
<app-modal-working-time [isVisibleModal]="isVisibleModal" [data]="itemWorkingTime"
    (cancel)="isVisibleModal = false"></app-modal-working-time>