/* @import "/node_modules/ng-zorro-antd/ng-zorro-antd.min.css";  */
/* @import "/node_modules/ng-zorro-antd/style/index.min.css"; */
/* @import "/node_modules/ng-zorro-antd/button/style/index.min.css"; */
/* @import "/node_modules/ng-zorro-antd/ng-zorro-antd.dark.css"; */
/* @import "/node_modules/ng-zorro-antd/ng-zorro-antd.compact.css"; */
/* @import "/node_modules/ng-zorro-antd/ng-zorro-antd.aliyun.css"; */
@import "/node_modules/ng-zorro-antd/ng-zorro-antd.variable.min.css";

body {
    overflow: hidden;
    transition: 0.5s;
}

.title {
    font-weight: bold;
    font-size: large;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    border-bottom: 0.5px solid;
    position: sticky;
    top: 0;
    background: #fff;
}

*::-webkit-scrollbar {
    width: 0.25em;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.mr-5 {
    margin-right: 5px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

label {
    float: left;
}

.btn-action {
    width: 46px;
}

.center {
    text-align: center;
}

.mr-per {
    margin-right: 0.5% !important;
}

.ml-per {
    margin-left: 0.5% !important;
}

.fw-bold {
    font-weight: bold !important;
}

.fa-mars {
    color: blue;
}

.fa-venus {
    color: pink;
}

.morning {
    color:#2600ff;
}

.afternoon {
    color:#a11ec2;
}

.fullday {
    color:#ff0000;
}

.late {
    color:#ff9100;
}

.New {
    color: #0061ff;
    font-weight: bold;
}

.Pending {
    color: #c2781e;
    font-weight: bold;
}

.Approved {
    color: #4fbd91;
    font-weight: bold;
}

.Rejected {
    color: #aab2ff;
    font-weight: bold;
}

.ant-picker-calendar-full .ant-picker-panel {
    height: 59vh;
    overflow-y: auto;
}

.btn-refresh {
    border-color: #52c41a !important;
    background-color: #52c41a !important;
}

.btn-refresh:hover {
    border-color: #72ef35 !important;
    background-color: #72ef35 !important;
}

.btn-refresh:active {
    border-color: #46b112 !important;
    background-color: #46b112 !important;
}

