/* @import "/node_modules/ng-zorro-antd/ng-zorro-antd.min.css";  */
@import "/node_modules/ng-zorro-antd/style/index.min.css";
@import "/node_modules/ng-zorro-antd/button/style/index.min.css";
/* @import "/node_modules/ng-zorro-antd/ng-zorro-antd.dark.css"; */
/* @import "/node_modules/ng-zorro-antd/ng-zorro-antd.compact.css"; */
/* @import "/node_modules/ng-zorro-antd/ng-zorro-antd.aliyun.css"; */
@import "/node_modules/ng-zorro-antd/ng-zorro-antd.variable.min.css";

body {
    overflow: hidden;
    transition: 0.5s;
}

.title {
    font-weight: bold;
    font-size: large;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    border-bottom: 0.5px solid;
}