<div *ngIf="isVisibleCurrentMessage == false; else messageDetail">
    <div class="title">Message</div>
    <div class="content">
        <div *ngFor="let item of employeeList | async" (click)="openMessage(item!)">
            <div *ngIf="item.id != user.id" class="card" nz-row [nzGutter]="24">
                <div style="width: 100px;">
                    <nz-avatar [nzSize]="64" nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
                </div>
                <div>
                    <div class="fw-bold">
                        {{ item.fullName }}
                    </div>
                    <div>
                        <span [ngClass]="getTotalUnSeen(item.id!) != 0 ? 'fw-bold' : ''">
                            {{ getTheLastMessageContent(item.id!) }}
                        </span>
                        <app-tag *ngIf="getTotalUnSeen(item.id!) != 0" [label]="getTotalUnSeen(item.id!).toString()" [color]="'red'"></app-tag>
                    </div>
                    <div>
                        {{ getTheLastMessageTime(item.id!) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #messageDetail>
    <div class="title">
        <span>{{ recipient.name }}</span>
        <i class="fa-solid fa-xmark" (click)="isVisibleCurrentMessage = false"></i>
    </div>
    <app-message-detail [recipient]="recipient"></app-message-detail>
</ng-template>

