@import "/node_modules/ng-zorro-antd/ng-zorro-antd.variable.min.css";

nz-select {
    width: 100%;
}

.gridStyle {
    width: calc(100% / 4);
}

img {
    height: 121.688px;
    width: 240.350px;
}

::ng-deep .ant-card-cover {
    height: 150px;
}

::ng-deep .cdk-drag-preview {
    display: table;
}

::ng-deep .cdk-drag-placeholder {
    opacity: 0;
}