<div class="header" style="background-image: url({{coverAvt}});">
    <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="8">
            <nz-avatar (click)="isVisibleAvatar = true" [nzSize]="60" nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
        </div>
        <div nz-col nzSpan="16">
            <div style="color: #fff; margin-top: 7.5px;" nz-typography nzEllipsis>{{ user.fullName }}</div>
            <div style="color: #fff;" nz-typography nzEllipsis>{{ user.email }}</div>
        </div>
    </div>
</div>
<ul nz-menu nzMode="inline" class="sider-menu">
    <li *ngIf="role.includes('Leader') || role.includes('Accountant')" nz-menu-item routerLink="/member/home" [nzMatchRouter]="true">
        <span nz-icon nzType="home" nzTheme="outline"></span>
        <span>Home Page</span>
    </li>
    <li nz-menu-item routerLink="/member/profile" [nzMatchRouter]="true">
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <span>My Profile</span>
    </li>
    <li *ngIf="role.includes('Leader') || role.includes('Accountant')" nz-submenu nzTitle="Management" nzIcon="deployment-unit">
        <ul>
            <li *ngIf="role.includes('Admin')" nz-menu-item routerLink="/manage/department" [nzMatchRouter]="true">
                <span nz-icon nzType="group" nzTheme="outline"></span>
                <span>Department</span>
            </li>
            <li *ngIf="role.includes('Admin')" nz-menu-item routerLink="/manage/position" [nzMatchRouter]="true">
                <span nz-icon nzType="audit" nzTheme="outline"></span>
                <span>Position</span>
            </li>
            <li nz-menu-item routerLink="/manage/users" [nzMatchRouter]="true">
                <span nz-icon nzType="team" nzTheme="outline"></span>
                <span>Users</span>
            </li>
            <li *ngIf="role.includes('Leader')" nz-menu-item routerLink="/manage/working-time" [nzMatchRouter]="true">
                <span nz-icon nzType="field-time" nzTheme="outline"></span>
                <span>Working Time</span>
            </li>
            <li nz-menu-item routerLink="/manage/evaluate" [nzMatchRouter]="true">
                <span nz-icon nzType="fund" nzTheme="outline"></span>
                <span>Evaluate</span>
            </li>
            <li nz-menu-item routerLink="/manage/punish" [nzMatchRouter]="true">
                <span nz-icon nzType="dollar-circle" nzTheme="outline"></span>
                <span>Punish</span>
            </li>
            <li nz-menu-item routerLink="/manage/notification" [nzMatchRouter]="true">
                <span nz-icon nzType="bell" nzTheme="outline"></span>
                <span>Notification</span>
            </li>
        </ul>
    </li>
    <li *ngIf="role.includes('Accountant')" nz-submenu nzTitle="Salary Management" nzIcon="money-collect">
        <ul>
            <li nz-menu-item routerLink="/manage/salary-management" [nzMatchRouter]="true">
                <span nz-icon nzType="property-safety" nzTheme="outline"></span>
                <span>Salary Information</span>
            </li>
            <li nz-menu-item routerLink="/manage/salary-for-employee" [nzMatchRouter]="true">
                <span nz-icon nzType="account-book" nzTheme="outline"></span>
                <span>Manage employee salary coefficients</span>
            </li>
            <li nz-menu-item routerLink="/manage/salary-report" [nzMatchRouter]="true">
                <span nz-icon nzType="pic-left" nzTheme="outline"></span>
                <span>Monthly Salary Report</span>
            </li>
        </ul>
    </li>
    <li *ngIf="role.includes('Accountant')" nz-submenu nzTitle="Recuitment" nzIcon="reconciliation">
        <ul>
            <li nz-menu-item routerLink="/manage/job" [nzMatchRouter]="true">
                <span nz-icon nzType="one-to-one" nzTheme="outline"></span>
                <span>Job Information</span>
            </li>
            <li nz-menu-item routerLink="/manage/candidate" [nzMatchRouter]="true">
                <span nz-icon nzType="read" nzTheme="outline"></span>
                <span>Candidate</span>
            </li>
        </ul>
    </li>
    <li nz-menu-item routerLink="/member/timesheet" [nzMatchRouter]="true">
        <span nz-icon nzType="calendar" nzTheme="outline"></span>
        <span>Timesheet</span>
    </li>
    <li nz-menu-item routerLink="/member/checkin" [nzMatchRouter]="true">
        <span nz-icon nzType="camera" nzTheme="outline"></span>
        <span>Check In</span>
    </li>
    <li nz-menu-item routerLink="/member/request-off" [nzMatchRouter]="true">
        <span nz-icon nzType="poweroff" nzTheme="outline"></span>
        <span>Request Off</span>
    </li>
    <li nz-menu-item routerLink="/member/my-working-time" [nzMatchRouter]="true">
        <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
        <span>My Working Time</span>
    </li>
    <!-- <li nz-menu-item routerLink="/member/project" [nzMatchRouter]="true">
        <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
        <span>Projects</span>
    </li>
    <li nz-menu-item routerLink="/member/issue" [nzMatchRouter]="true">
        <span nz-icon nzType="bars" nzTheme="outline"></span>
        <span>Issues</span>
    </li> -->
</ul>
<div class="footer" (click)="logout()">
    <span nz-icon nzType="logout" nzTheme="outline"></span>
    <span class="ml-5">Log Out</span>
</div>

<app-avatar [isVisible]="isVisibleAvatar" (cancel)="isVisibleAvatar = false"></app-avatar>