div.ant-typography {
    margin-bottom: 0;
}

.sider-menu {
    height: calc(91vh - 140px);
    border-right: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.footer{
    background: #001529;
    color: #fff;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    height: 83.6px;
    background: url(https://static.wixstatic.com/media/5b44bf_317f722d308c4426a6ba01e3c61bf072~mv2_d_4206_2366_s_2.jpg/v1/fill/w_980,h_551,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/5b44bf_317f722d308c4426a6ba01e3c61bf072~mv2_d_4206_2366_s_2.jpg);
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media (max-width: 1000px) {
    .sider-menu {
        height: calc(100vh - 140px);
    }
}
