<div class="header">
    <div nz-row>
        <div nz-col nzSpan="8">
            <i class="fa-solid fa-circle fa-2x" style="margin: 5px"></i>
        </div>
        <div nz-col nzSpan="16">
            <div>Name</div>
            <div>Email</div>
        </div>
    </div>
</div>
<ul nz-menu nzMode="inline" class="sider-menu">
    <li nz-menu-item routerLink="/manage/home">
        <span nz-icon nzType="home" nzTheme="outline"></span>
        <span>Home Page</span>
    </li>
    <li nz-menu-item routerLink="/manage/profile">
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <span>My Profile</span>
    </li>
    <li nz-submenu nzTitle="Admin" nzIcon="deployment-unit">
        <ul>
            <li nz-menu-item routerLink="/manage/admin/users">
                <span nz-icon nzType="team" nzTheme="outline"></span>
                <span>Users</span>
            </li>
            <li nz-menu-item routerLink="/manage/admin/roles">
                <span nz-icon nzType="tag" nzTheme="outline"></span>
                <span>Roles</span>
            </li>
            <li nz-menu-item routerLink="/manage/admin/working-time">
                <span nz-icon nzType="field-time" nzTheme="outline"></span>
                <span>Working Time</span>
            </li>
        </ul>
    </li>
    <li nz-menu-item routerLink="/manage/timesheet">
        <span nz-icon nzType="calendar" nzTheme="outline"></span>
        <span>Timesheet</span>
    </li>
    <li nz-menu-item routerLink="/manage/checkin">
        <span nz-icon nzType="camera" nzTheme="outline"></span>
        <span>Check In</span>
    </li>
    <li nz-menu-item routerLink="/manage/request-off">
        <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
        <span>Request Off</span>
    </li>
    <li nz-menu-item routerLink="/manage/projects">
        <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
        <span>Projects</span>
    </li>
    <li nz-menu-item routerLink="/manage/tasks">
        <span nz-icon nzType="bars" nzTheme="outline"></span>
        <span>Tasks</span>
    </li>
</ul>
<div class="footer">
    <span nz-icon nzType="logout" nzTheme="outline"></span>
    <span>Log Out</span>
</div>