.sider-menu {
    height: calc(91vh - 140px);
    border-right: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.footer{
    background: #001529;
    color: #fff;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    overflow: hidden;
    cursor: pointer;
}

.header{
    height: 83.6px;
}

@media (max-width: 1000px) {
    .sider-menu {
        height: calc(100vh - 140px);
    }
}
