<div class="header" style="background-image: url({{coverAvt}});">
    <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="8">
            <nz-avatar [nzSize]="60" nzIcon="user" nzSrc="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiuxu29YKej9hhnYkaDVBrbXaNs_25eRYABg&usqp=CAU"></nz-avatar>
        </div>
        <div nz-col nzSpan="16">
            <div style="color: #fff; margin-top: 7.5px;" nz-typography nzEllipsis>{{ user.fullName }}</div>
            <div style="color: #fff;" nz-typography nzEllipsis>{{ user.email }}</div>
        </div>
    </div>
</div>
<ul nz-menu nzMode="inline" class="sider-menu">
    <li nz-menu-item routerLink="/manage/home" [nzMatchRouter]="true">
        <span nz-icon nzType="home" nzTheme="outline"></span>
        <span>Home Page</span>
    </li>
    <li nz-menu-item routerLink="/manage/profile" [nzMatchRouter]="true">
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <span>My Profile</span>
    </li>
    <li nz-submenu nzTitle="Admin" nzIcon="deployment-unit">
        <ul>
            <li nz-menu-item routerLink="/manage/admin/users" [nzMatchRouter]="true">
                <span nz-icon nzType="team" nzTheme="outline"></span>
                <span>Users</span>
            </li>
            <li nz-menu-item routerLink="/manage/admin/working-time" [nzMatchRouter]="true">
                <span nz-icon nzType="field-time" nzTheme="outline"></span>
                <span>Working Time</span>
            </li>
        </ul>
    </li>
    <li nz-menu-item routerLink="/manage/timesheet" [nzMatchRouter]="true">
        <span nz-icon nzType="calendar" nzTheme="outline"></span>
        <span>Timesheet</span>
    </li>
    <li nz-menu-item routerLink="/manage/checkin" [nzMatchRouter]="true">
        <span nz-icon nzType="camera" nzTheme="outline"></span>
        <span>Check In</span>
    </li>
    <li nz-menu-item routerLink="/manage/request-off" [nzMatchRouter]="true">
        <span nz-icon nzType="poweroff" nzTheme="outline"></span>
        <span>Request Off</span>
    </li>
    <li nz-menu-item routerLink="/manage/my-working-time" [nzMatchRouter]="true">
        <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
        <span>My Working Time</span>
    </li>
    <li nz-menu-item routerLink="/manage/project" [nzMatchRouter]="true">
        <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
        <span>Projects</span>
    </li>
    <li nz-menu-item routerLink="/manage/task" [nzMatchRouter]="true">
        <span nz-icon nzType="bars" nzTheme="outline"></span>
        <span>Tasks</span>
    </li>
</ul>
<div class="footer" (click)="logout()">
    <span nz-icon nzType="logout" nzTheme="outline"></span>
    <span class="ml-5">Log Out</span>
</div>