@import "/node_modules/ng-zorro-antd/ng-zorro-antd.variable.min.css";

ul {
    padding: 0;
}

.btn-request {
    position: absolute;
    z-index: 3;
    margin-top: 12px;
}

.fa-trash-can {
    color: tomato;
    bottom: 4px;
    right: 8px;
    position: absolute;
}

nz-select {
    width: 100%;
}

* {
    overflow-x: hidden;
}

.notes-month {
    position: absolute;
    transform: translateY(-20%);
}