.inner-layout {
    padding: 0 24px 24px;
    height: 91vh;
}

nz-breadcrumb {
    margin: 16px 0;
}

nz-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
    text-align: center;
}

@media (max-width: 1000px) {
    .sider {
        display: none;
    }
}