<form nz-form [formGroup]="generalForm">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid project name!">
                    <input nz-input placeholder="Enter project name" formControlName="projectName" id="projectName" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Type</nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid project type!">
                    <nz-select [ngModel]="generalForm.value.projectType" formControlName="projectType" id="projectType">
                        <nz-option [nzValue]="item.value" [nzLabel]="item.label"
                            *ngFor="let item of projectTypeList | async"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Code</nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid project code!">
                    <input nz-input placeholder="Enter project code" formControlName="projectCode" id="projectCode" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Priority</nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid priority!">
                    <nz-select [ngModel]="generalForm.value.priorityCode" formControlName="priorityCode"
                        id="priorityCode">
                        <nz-option [nzValue]="item.value" [nzLabel]="item.label"
                            *ngFor="let item of priorityList | async"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Deadline</nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid deadline!">
                    <nz-date-picker [(ngModel)]="generalForm.value.deadlineDate" formControlName="deadlineDate"
                        id="deadlineDate"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Status</nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid status!">
                    <nz-select [ngModel]="generalForm.value.statusCode" formControlName="statusCode" id="statusCode">
                        <nz-option [nzValue]="item.value" [nzLabel]="item.label"
                            *ngFor="let item of statusTaskList | async"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="name">Description</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
            <textarea nz-input placeholder="Enter project description" formControlName="description" id="description"
                rows="7" [nzAutosize]="{ minRows: 2, maxRows: 7 }"></textarea>
        </nz-form-control>
    </nz-form-item>
</form>
<button nz-button nzType="default" (click)="handleSubmit()" class="btn-next">
    <span>Next</span>
    <i class="fa-solid fa-arrow-right ml-5"></i>
</button>