<nz-drawer [nzClosable]="false" [nzVisible]="visible" [nzTitle]="header" [nzContent]="content"
    (nzOnClose)="handleCancel()" nzWidth="50%" [nzFooter]="footer">
</nz-drawer>
<ng-template #header>
    <i class="fa-solid fa-user-pen'"></i>
    <span class="ml-5">{{ title }}</span>
</ng-template>
<ng-template #content>
    <form nz-form [formGroup]="salaryForm">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Salary</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid salary">
                <nz-select [ngModel]="salaryForm.value.salary" formControlName="salary" id="salary" (ngModelChange)="getInfoSalary()">
                    <nz-option [nzValue]="item.id" [nzLabel]="item.salaryCode"
                        *ngFor="let item of salaryList | async"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Workdays</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid totalWorkdays!">
                <nz-space nzDirection="vertical" style="width: 100%">
                    <nz-input-number-group *nzSpaceItem nzAddOnAfter="VNĐ">
                        <nz-input-number [nzStep]="1" formControlName="totalWorkdays" id="totalWorkdays"></nz-input-number>
                    </nz-input-number-group>
                </nz-space>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Money</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid money!">
                <nz-space nzDirection="vertical" style="width: 100%">
                    <nz-input-number-group *nzSpaceItem nzAddOnAfter="VNĐ">
                        <nz-input-number [nzStep]="1000" formControlName="money" id="money"></nz-input-number>
                    </nz-input-number-group>
                </nz-space>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Welfare</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid welfare!">
                <nz-space nzDirection="vertical" style="width: 100%">
                    <nz-input-number-group *nzSpaceItem nzAddOnAfter="VNĐ">
                        <nz-input-number [nzStep]="1000" formControlName="welfare" id="welfare"></nz-input-number>
                    </nz-input-number-group>
                </nz-space>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Punish</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid punish!">
                <nz-space nzDirection="vertical" style="width: 100%">
                    <nz-input-number-group *nzSpaceItem nzAddOnAfter="VNĐ">
                        <nz-input-number [nzStep]="1000" formControlName="punish" id="punish"></nz-input-number>
                    </nz-input-number-group>
                </nz-space>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Bounty</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid bounty!">
                <nz-space nzDirection="vertical" style="width: 100%">
                    <nz-input-number-group *nzSpaceItem nzAddOnAfter="VNĐ">
                        <nz-input-number [nzStep]="1000" formControlName="bounty" id="bounty"></nz-input-number>
                    </nz-input-number-group>
                </nz-space>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Total</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid total!">
                <nz-space nzDirection="vertical" style="width: 100%">
                    <nz-input-number-group *nzSpaceItem nzAddOnAfter="VNĐ">
                        <nz-input-number [nzStep]="1000" formControlName="actualSalary" id="actualSalary"></nz-input-number>
                    </nz-input-number-group>
                </nz-space>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>
<ng-template #footer>
    <button *ngIf="!isEdit else edit" nz-button nzType="primary" style="float: right;" (click)="changeMode()">
        <i class="fa-solid fa-pen-to-square mr-5"></i>
        <span>Edit</span>
    </button>
    <ng-template #edit>
        <button style="float: right;" class="ml-5" nz-button nzType="primary" (click)="submitForm()">
            <i class="fa-solid fa-check mr-5"></i>
            <span>Submit</span>
        </button>
        <button style="float: right;" nz-button nzDanger nzType="default" (click)="changeMode()">
            <i class="fa-solid fa-xmark mr-5"></i>
            <span>Cancel</span>
        </button>
    </ng-template>
</ng-template>