<div class="title">Working Time</div>
<nz-select nzShowSearch nzAllowClear nzPlaceHolder="Search name..." [ngModel]="null" style="width: 20%;">
    <nz-option nzLabel="Pending" [nzValue]="2"></nz-option>
    <nz-option nzLabel="Approved" [nzValue]="3"></nz-option>
</nz-select>
<nz-select class="search-name" nzShowSearch nzAllowClear nzPlaceHolder="Search name..." [ngModel]="null" style="width: 20%;">
    <nz-option [nzLabel]="item.fullName" [nzValue]="item.id" *ngFor="let item of employeeList | async"></nz-option>
</nz-select>
<button nz-button nzType="primary" (click)="refresh()" class="btn-refresh">
    <i class="fa-solid fa-arrows-rotate mr-5"></i>
    <span>Refresh</span>
</button>
<nz-table #table>
    <thead>
        <tr>
            <th nzAlign="center">Name</th>
            <th nzAlign="center">Morning Start Time</th>
            <th nzAlign="center">Morning End Time</th>
            <th nzAlign="center">Afternoon Start Time</th>
            <th nzAlign="center">Afternoon End Time</th>
            <th nzAlign="center">Total Time</th>
            <th nzAlign="center">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of table.data">
            <ng-template *ngIf="data.status == 3 else pending">
                <td>{{ getUserName(data.id) }}</td>
                <td nzAlign="center">{{ data.morningStartTime }}</td>
                <td nzAlign="center">{{ data.morningEndTime }}</td>
                <td nzAlign="center">{{ data.afternoonStartTime }}</td>
                <td nzAlign="center">{{ data.afternoonEndTime }}</td>
                <td nzAlign="center">{{ calcTime(data.morningStartTime, data.morningEndTime) +
                    calcTime(data.afternoonStartTime, data.afternoonEndTime) }}</td>
                <td nzAlign="center">
                    <span style="color: #4fbd91; font-weight: bold;">Approved</span>
                </td>
            </ng-template>
            <ng-template #pending (click)="changeStatusWorkingTime(data)">
                <td>{{ getUserName(data.id) }}</td>
                <td nzAlign="center">{{ data.morningStartTime }}</td>
                <td nzAlign="center">{{ data.morningEndTime }}</td>
                <td nzAlign="center">{{ data.afternoonStartTime }}</td>
                <td nzAlign="center">{{ data.afternoonEndTime }}</td>
                <td nzAlign="center">{{ calcTime(data.morningStartTime, data.morningEndTime) +
                    calcTime(data.afternoonStartTime, data.afternoonEndTime) }}</td>
                <td nzAlign="center">
                    <span style="color: #c2781e; font-weight: bold;">Pending</span>
                </td>
            </ng-template>
        </tr>
    </tbody>
</nz-table>
<app-modal-working-time [isVisibleModal]="isVisibleModal" [data]="itemWorkingTime" (cancel)="isVisibleModal = false"></app-modal-working-time>