<div class="title">My Profile</div>
<div nz-row>
    <div nz-col [nzSpan]="12">
        <span>Usercode: {{ user.userCode }}</span>
    </div>
    <div nz-col [nzSpan]="12" class="action">
        <button nz-button nzType="primary" (click)="refresh()" class="mr-5">
            <i class="fa-solid fa-arrows-rotate mr-5"></i>
            <span>Refresh</span>
        </button>
        <button nz-button nzType="primary" (click)="openModalChangePassword()" class="mr-5">
            <i class="fa-solid fa-lock mr-5"></i>
            <span>Change Password</span>
        </button>
        <button nz-button nzType="primary" (click)="openModalChangeInfo()">
            <i class="fa-solid fa-user-pen mr-5"></i>
            <span>Request Change Info</span>
        </button>
    </div>
</div>
<div nz-row [nzGutter]="24" class="information">
    <div nz-col [nzSpan]="8" class="center">
        <div class="background-avt">
            <nz-avatar nzIcon="user" class="avt-user"></nz-avatar>
            <div class="tag">
                <i class="fa-solid sex" [ngClass]="user.sex ? 'fa-mars' : 'fa-venus'"></i>
                <app-tag [label]="level[user.level]" size></app-tag>
                <app-tag [label]="getPosition(user.position).name" [color]="getPosition(user.position).color" size></app-tag>
                <app-tag *ngIf="user.departmentId" [label]="getDepartment(user.departmentId).name"
                    [color]="getDepartment(user.departmentId).color" size></app-tag>
            </div>
        </div>
    </div>
    <div nz-col [nzSpan]="16" class="background">
        <div class="title" style="font-size: x-large;">Information</div>
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="12">
                <div class="line">
                    <span class="fw-bold">Name: </span>
                    <span>{{ user.fullName }}</span>
                </div>
                <div class="line">
                    <span class="fw-bold">Sex: </span>
                    <span>{{ user.sex ? 'Male' : 'Female' }}</span>
                </div>
                <div class="line">
                    <span class="fw-bold">Email: </span>
                    <span>{{ user.email }}</span>
                </div>
                <div class="line">
                    <span class="fw-bold">Phone: </span>
                    <span>{{ user.phone }}</span>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div class="line">
                    <span class="fw-bold">Birthday: </span>
                    <span>{{ user.doB | date: 'dd/MM/YYYY' }}</span>
                </div>
                <div class="line">
                    <span class="fw-bold">Level: </span>
                    <span>{{ level[user.level] }}</span>
                </div>
                <div class="line">
                    <span class="fw-bold">Position: </span>
                    <span>{{ getPosition(user.position).name }}</span>
                </div>
                <div class="line">
                    <span class="fw-bold">Department: </span>
                    <span *ngIf="user.departmentId">{{ getDepartment(user.departmentId).name }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12">
        <div class="line">
            <span class="fw-bold" nz-tooltip nzTooltipTitle="Ngân hàng">Bank: </span>
            <span>{{ user.bank }}</span>
        </div>
        <div class="line">
            <span class="fw-bold" nz-tooltip nzTooltipTitle="Tài khoản ngân hàng">Bank Account: </span>
            <span>{{ user.bankAccount }}</span>
        </div>
        <div class="line">
            <span class="fw-bold" nz-tooltip nzTooltipTitle="Mã số thuế">Tax Code: </span>
            <span>{{ user.taxCode }}</span>
        </div>
        <div class="line">
            <span class="fw-bold" nz-tooltip nzTooltipTitle="Bảo hiểm">Insurance Status: </span>
            <span>{{ user.insuranceStatus }}</span>
        </div>
    </div>
    <div nz-col [nzSpan]="12">
        <div class="line">
            <span class="fw-bold" nz-tooltip nzTooltipTitle="CCCD/CMT">Identify: </span>
            <span>{{ user.identify }}</span>
        </div>
        <div class="line">
            <span class="fw-bold" nz-tooltip nzTooltipTitle="Quê quán">Place of Origin: </span>
            <span nz-typography nzEllipsis>{{ user.placeOfOrigin }}</span>
        </div>
        <div class="line">
            <span class="fw-bold" nz-tooltip nzTooltipTitle="Nơi thường trú">Place of Residence: </span>
            <span nz-typography nzEllipsis>{{ user.placeOfResidence }}</span>
        </div>
        <div class="line">
            <span class="fw-bold" nz-tooltip nzTooltipTitle="Ngày cấp">Date of Issue: </span>
            <span>{{ user.dateOfIssue | date: 'dd/MM/YYYY' }}</span>
        </div>
        <div class="line">
            <span class="fw-bold" nz-tooltip nzTooltipTitle="Cấp bởi">Issued by: </span>
            <span nz-typography nzEllipsis>{{ user.issuedBy }}</span>
        </div>
    </div>
</div>
<app-modal-change-info [isVisibleModal]="isVisibleModalChangeProfile" [user]="user"
    (cancel)="isVisibleModalChangeProfile = false"></app-modal-change-info>
<app-modal-change-password [isVisibleModal]="isVisibleModalChangePassword"
    (cancel)="isVisibleModalChangePassword = false"></app-modal-change-password>