@import "/node_modules/ng-zorro-antd/ng-zorro-antd.variable.min.css";

.logo {
    width: 120px;
    height: 31px;
    margin: 16px 30px 16px 0;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.btn-menu {
    display: none;
    margin: 16px 30px 16px 0;
}

.fa-stack {
    margin-top: -5px;
}

img {
    height: 100%;
    width: 40%;
}

.name {
    width: 50%;
    color: #fff;
    margin-top: -17.5px;
    font-size: x-large;
}

.config-option {
    color: #fff;
    float: right;
    margin: 2.5px 0;
}

a {
    color: #fff;
}

.fa-gear {
    margin-left: 10px;
}

@media (max-width: 1000px) {

    .btn-menu,
    .config-option {
        display: inline;
    }
}