<div class="logo" routerLink="/member/home">
    <img src="../../../assets/HRMLogo.png" alt="Logo">
    <!-- <span class="name">HRM</span> -->
</div>
<button nz-button nzType="primary" (click)="openSidebar()" class="btn-menu">
    <i class="fa-solid fa-bars fa-2x" style="margin-top: -3px;"></i>
</button>
<span class="config-option">
    <a href="http://localhost:4200/recuitment"
        target="_blank" class="fa-solid fa-users-between-lines fa-2x"></a>
    <i class="fa-solid fa-comment-dots fa-2x" (click)="openMessage()">
        <app-tag class="totalUnSeen" *ngIf="totalUnSeen > 0" [label]="totalUnSeen.toString()" [color]="'red'"></app-tag>
    </i>
    <i class="fa-solid fa-bell fa-2x" 
        nzPopoverTrigger="click" 
        nz-button 
        nz-popover 
        nzPopoverTitle="Notification" 
        [nzPopoverContent]="notificationpopover" 
        [nzPopoverPlacement]="'bottomRight'">
        <app-tag class="totalUnreadNoti" *ngIf="totalUnreadNoti > 0" [label]="totalUnreadNoti.toString()" [color]="'red'"></app-tag>
    </i>
    <ng-template #notificationpopover>
        <app-notification></app-notification>
    </ng-template>
    <a href="https://docs.google.com/document/d/1FQ7DLaRJC_h0cUiAfYHsAp1FEEOO8v_9y4WDEadkvwI/edit?usp=sharing"
        target="_blank" class="fa-solid fa-file-lines fa-2x"></a>
    <i class="fa-solid fa-gear fa-2x" 
        nzPopoverTrigger="click" 
        nz-button 
        nz-popover 
        [nzPopoverContent]="settingpopover" 
        [nzPopoverPlacement]="'bottomRight'"></i>
    <ng-template #settingpopover>
        <ul nz-menu>
            <li nz-menu-item (click)="openModalChangeAvatar()">
                <i class="fa-regular fa-images mr-5"></i>
                <span>Change Avatar</span>
            </li>
            <li nz-menu-item (click)="openModalChangePassword()">
                <i class="fa-solid fa-lock mr-5"></i>
                <span>Change Password</span>
            </li>
            <li nz-menu-item (click)="openSetting()">
                <i class="fa-solid fa-gears mr-5"></i>
                <span>Setting</span>
            </li>
        </ul>
    </ng-template>
</span>
<nz-drawer [nzClosable]="false" [nzBodyStyle]="{padding: '0'}" nzWidth="250px" [nzVisible]="visibleSidebar"
    nzPlacement="left" (nzOnClose)="closeSidebar()" [nzContent]="menu">
    <ng-template #menu>
        <app-sidebar></app-sidebar>
    </ng-template>
</nz-drawer>
<nz-drawer [nzClosable]="false" nzWidth="50%" [nzVisible]="visibleSetting" nzPlacement="right"
    (nzOnClose)="closeSetting()" [nzContent]="setting">
    <ng-template #setting>
        <app-setting></app-setting>
    </ng-template>
</nz-drawer>
<nz-drawer [nzClosable]="false" nzWidth="596.8px" [nzVisible]="visibleMessage" nzPlacement="right"
    (nzOnClose)="closeMessage()" [nzContent]="message">
    <ng-template #message>
        <app-message></app-message>
    </ng-template>
</nz-drawer>
<app-modal-change-password [isVisibleModal]="isVisibleModalChangePassword"
    (cancel)="closeModalChangePassword()"></app-modal-change-password>
<app-avatar [isVisible]="isVisibleModalChangeAvatar" (cancel)="closeModalChangeAvatar()"></app-avatar>
