<div class="title">Manage employee salary coefficients</div>
<nz-table #table1 [nzData]="salaryForEmployeeList" [nzShowTotal]="rangeTemplate" [nzScroll]="{x: 'none', y: '49vh'}">
    <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
    <thead>
        <tr>
            <th nzAlign="center">Employee</th>
            <th nzAlign="center">Salary</th>
            <th nzAlign="center">Action</th>
        </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
        <tr *ngFor="let data of table1.data" cdkDrag>
            <td>{{ getEmployeeName(data.appUserId) }}</td>
            <td nzAlign="center">{{ getSalaryName(data.salaryId) }}</td>
            <td nzAlign="center">
                <button nz-button nzType="primary" (click)="openModalGeneral(data)">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>
<app-salary-for-employee-general-modal [visible]="visibleModalGeneral" [data]="dataGeneral"
    (cancel)="visibleModalGeneral = false" (submit)="visibleModalGeneral = false"></app-salary-for-employee-general-modal>