<div class="title">Salary</div>
<nz-table #table1 [nzData]="salaryForEmployeeList" [nzShowTotal]="rangeTemplate" [nzScroll]="{x: 'hidden', y: '14vh'}">
    <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
    <thead>
        <tr>
            <th nzAlign="center">Employee</th>
            <th nzAlign="center">Salary</th>
            <th nzAlign="center">Action</th>
        </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
        <tr *ngFor="let data of table1.data" cdkDrag>
            <td>{{ getEmployeeName(data.employeeId) }}</td>
            <td nzAlign="center">{{ getSalaryName(data.salary) }}</td>
            <td nzAlign="center">
                <button nz-button nzType="primary" (click)="openModalGeneral(data)">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>
<h5>Salary For Month</h5>
<div style="margin-bottom: 15px;">
    <button nz-button nzType="primary" (click)="sendRequest()" class="mr-per" [disabled]="setOfCheckedId.size === 0">
        <i class="fa-solid fa-user-plus mr-5"></i>
        <span>Send</span>
    </button>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Search name..." [ngModel]="null"
        (ngModelChange)="searchName($event)" style="width: 20%;">
        <nz-option [nzLabel]="item.fullName" [nzValue]="item.id" *ngFor="let item of employeeList | async"></nz-option>
    </nz-select>
    <nz-select nzShowSearch nzPlaceHolder="Search level..." [ngModel]="filterSalaryMonth"
        (ngModelChange)="filterMonth($event)" style="width: 20%;">
        <nz-option [nzLabel]="item" [nzValue]="item" *ngFor="let item of monthList"></nz-option>
    </nz-select>
    <nz-select nzShowSearch nzPlaceHolder="Search position..." [ngModel]="filterSalaryYear"
        (ngModelChange)="filterYear($event)" style="width: 20%;">
        <nz-option [nzLabel]="item" [nzValue]="item" *ngFor="let item of yearList"></nz-option>
    </nz-select>
</div>
<nz-table #table [nzData]="detailList" [nzShowTotal]="rangeTemplate" [nzScroll]="{x: 'hidden', y: '14vh'}">
    <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
    <thead>
        <tr>
            <th [nzChecked]="checked" [nzDisabled]="isDisable" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)" nzWidth="50px"></th>
            <th nzAlign="center">Status</th>
            <th nzAlign="center">Employee</th>
            <th nzAlign="center">Date</th>
            <th nzAlign="center">Salary</th>
            <th nzAlign="center">Workdays</th>
            <th nzAlign="center">Actual</th>
            <th nzAlign="center">Action</th>
        </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
        <tr *ngFor="let data of table.data" cdkDrag>
            <td [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="isDisable"
                (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
            <td nzAlign="center">
                <i *ngIf="data.isConfirm == 0" class="fa-solid fa-o" style="color: blue;"></i>
                <i *ngIf="data.isConfirm == 1" class="fa-solid fa-check" style="color: aqua"></i>
                <i *ngIf="data.isConfirm == 2" class="fa-solid fa-xmark" style="color: tomato"></i>
            </td>
            <td>{{ getEmployeeName(data.employeeId) }}</td>
            <td nzAlign="center">{{ data.date | date: 'dd/MM/yyyy' }}</td>
            <td nzAlign="center">{{ getSalaryName(data.salary) }}</td>
            <td nzAlign="center">{{ data.totalWorkdays }}</td>
            <td nzAlign="center">{{ data.actualSalary | vnd }}</td>
            <td nzAlign="center">
                <button nz-button nzType="primary" (click)="openModal(data)">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>
<app-modal-salary-for-employee [visible]="visibleModal" [data]="data"
    (cancel)="visibleModal = false"></app-modal-salary-for-employee>
<app-salary-for-employee-general-modal [visible]="visibleModalGeneral" [data]="dataGeneral"
    (cancel)="visibleModalGeneral = false"></app-salary-for-employee-general-modal>