<div class="title">Users</div>
<div style="margin-bottom: 15px;">
    <button nz-button nzType="primary" (click)="openModal(undefined, 'create')" class="mr-per">
        <i class="fa-solid fa-user-plus mr-5"></i>
        <span>Create</span>
    </button>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Search name..." [ngModel]="null" (ngModelChange)="searchName($event)" style="width: 20%;">
        <nz-option [nzLabel]="item.fullName" [nzValue]="item.fullName" *ngFor="let item of employeeList"></nz-option>
    </nz-select>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Search level..." [ngModel]="null" (ngModelChange)="filterLevel($event)" style="width: 10%;">
        <nz-option [nzLabel]="item.label" [nzValue]="item.value" *ngFor="let item of levelList | async"></nz-option>
    </nz-select>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Search position..." [ngModel]="null" (ngModelChange)="filterPosition($event)" style="width: 10%;">
        <nz-option [nzLabel]="item.name" [nzValue]="item.id" *ngFor="let item of positionList | async"></nz-option>
    </nz-select>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Search department..." [ngModel]="null" (ngModelChange)="filterDepartment($event)" style="width: 20%;">
        <nz-option [nzLabel]="item.name" [nzValue]="item.id" *ngFor="let item of departmentList | async"></nz-option>
    </nz-select>
    <nz-radio-group class="filter" [ngModel]="'Approve'" nzButtonStyle="solid" (ngModelChange)="changeFilter($event)">
        <label nz-radio-button nzValue="Approve">Approved</label>
        <label nz-radio-button nzValue="Pending">Pending</label>
    </nz-radio-group>
</div>
<nz-table #table [nzData]="employeeList" [nzShowTotal]="rangeTemplate" [nzScroll]="{x: 'hidden', y: '49.5vh'}">
    <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
    <thead>
        <tr>
            <th nzAlign="center">Name</th>
            <th nzAlign="center">Sex</th>
            <th nzAlign="center">Email</th>
            <th nzAlign="center">Phone</th>
            <th nzAlign="center">Level</th>
            <th nzAlign="center">Position</th>
            <th nzAlign="center">Department</th>
            <th nzAlign="center">Action</th>
        </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
        <tr *ngFor="let data of table.data" cdkDrag>
            <td>{{ data.fullName }}</td>
            <td nzAlign="center">
                <i class="fa-solid" [ngClass]="data.sex == true ? 'fa-mars' : 'fa-venus'"></i>
            </td>
            <td>{{ data.email }}</td>
            <td nzAlign="center">{{ data.phone }}</td>
            <td nzAlign="center">
                <app-tag [label]="level[data.level]"></app-tag>
            </td>
            <td nzAlign="center">{{ getPositionName(data.position) }}</td>
            <td nzAlign="center">
                <app-tag *ngIf="data.departmentId" [color]="getDepartmentName(data.departmentId).color"
                    [label]="getDepartmentName(data.departmentId).name"></app-tag>
            </td>
            <td nzAlign="center">
                <button nz-button nzType="primary" class="btn-action mr-5" (click)="openModal(data, statusMode == 'Pending' ? 'request' : 'update')">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button nz-button nzDanger nzType="primary" class="btn-action" (click)="deleteItem(data.id!)">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>
<app-create-or-edit-employee [visible]="visible" [data]="data" [mode]="modalMode" (cancel)="visible = false"></app-create-or-edit-employee>