<div style="text-align: center;">
    <img height="300" [src]="notification.thumbnail" alt="Thumbnail">
</div>
<h2 class="fw-bold">{{ notification.title | uppercase }}</h2>
<div>{{ notification.createDate | date: 'dd/MM/yyyy' }}</div>
<form nz-form [formGroup]="form" *ngIf="notification.salary == null; else salary">
    <quill-editor [readOnly]="true" formControlName="content"></quill-editor>
</form>
<ng-template #salary>
    <div class="employeeName">
        <span>Employee: </span>
        <span class="fw-bold">{{ notification.salary!.employee }}</span>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <div class="item">
                <span>Position: </span>
                <span class="fw-bold">{{ getPositionName(notification.salary!.positionId) }}</span>
            </div>
            <div class="item">
                <span>Level: </span>
                <span class="fw-bold">{{ level[notification.salary!.level] }}</span>
            </div>
        </div>
        <div nz-col [nzSpan]="12">
            <div class="item">
                <span>Salary Code: </span>
                <span class="fw-bold">{{ notification.salary!.salaryCode }}</span>
            </div>
            <div class="item">
                <span>Salary: </span>
                <span class="fw-bold">{{ notification.salary!.salary | vnd }}</span>
            </div>
            <div class="item">
                <span>Welfare: </span>
                <span class="fw-bold">{{ notification.salary!.welfare | vnd }}</span>
            </div>
            <div class="item">
                <span>Workdays: </span>
                <span class="fw-bold">{{ notification.salary!.workdays }}</span>
            </div>
            <div class="item">
                <span>Punish: </span>
                <span class="fw-bold">{{ notification.salary!.punish | vnd }}</span>
            </div>
            <div class="item">
                <span>Bonus: </span>
                <span class="fw-bold">{{ notification.salary!.bounty | vnd }}</span>
            </div>
            <div class="item total-item">
                <span class="fw-bold">Total: </span>
                <span class="total-value">{{ notification.salary!.actualSalary | vnd }}</span>
            </div>
        </div>
    </div>
    <hr>
    <!-- <div>{{ notification.salary!.date | date: 'dd/MM/yyyy' }}</div> -->
    <div style="text-align: right; padding-bottom: 30px;" *ngIf="notification.salary!.isConfirm != 2; else confirm">
        <button nz-button nzDanger nzType="primary" class="mr-5" (click)="confirmSalary(notification.salary!.id, 1)">
            <i class="fa-solid fa-xmark mr-5"></i>
            <span>Complain</span>
        </button>
        <button nz-button nzType="primary" (click)="confirmSalary(notification.salary!.id, 2)">
            <i class="fa-solid fa-check mr-5"></i>
            <span>Confirm</span>
        </button>
    </div>
    <ng-template #confirm>
        <span style="float: right; padding-bottom: 30px;">You have confirmed!</span>
    </ng-template>
</ng-template>