<div class="title">Salary Management</div>
<div style="margin-bottom: 15px;">
    <button nz-button nzType="primary" (click)="visibleModal = true" class="mr-per">
        <i class="fa-solid fa-user-plus mr-5"></i>
        <span>Create</span>
    </button>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Search name..." [ngModel]="null" (ngModelChange)="searchName($event)" style="width: 20%;">
        <nz-option [nzLabel]="item.salaryCode" [nzValue]="item.id" *ngFor="let item of salaryList"></nz-option>
    </nz-select>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Search level..." [ngModel]="null" (ngModelChange)="filterLevel($event)" style="width: 20%;">
        <nz-option [nzLabel]="item.label" [nzValue]="item.value" *ngFor="let item of levelList | async"></nz-option>
    </nz-select>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Search position..." [ngModel]="null" (ngModelChange)="filterPosition($event)" style="width: 20%;">
        <nz-option [nzLabel]="item.name" [nzValue]="item.id" *ngFor="let item of positionList | async"></nz-option>
    </nz-select>
</div>
<nz-table #table [nzData]="salaryList" [nzShowTotal]="rangeTemplate" [nzScroll]="{x: null, y: '49vh'}">
    <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
    <thead>
        <tr>
            <th nzAlign="center">Code</th>
            <th nzAlign="center">Position</th>
            <th nzAlign="center">Level</th>
            <th nzAlign="center">Money</th>
            <th nzAlign="center">Welfare</th>
        </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
        <tr *ngFor="let data of table.data" cdkDrag>
            <td>{{ data.salaryCode }}</td>
            <td nzAlign="center">{{ getDepartmentName(data.positionId) }}</td>
            <td nzAlign="center">{{ level[data.level] }}</td>
            <td nzAlign="center">{{ data.money | vnd }}</td>
            <td nzAlign="center">{{ data.welfare | vnd }}</td>
        </tr>
    </tbody>
</nz-table>
<app-modal-salary [isVisibleModal]="visibleModal" (cancel)="visibleModal = false"></app-modal-salary>