<div class="title">Users</div>
<div style="margin-bottom: 15px;">
    <button nz-button nzType="primary" (click)="visible = true" class="mr-per">
        <i class="fa-solid fa-user-plus mr-5"></i>
        <span>Create</span>
    </button>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Search name..." [ngModel]="null" style="width: 20%;">
        <nz-option [nzLabel]="item.fullName" [nzValue]="item.id" *ngFor="let item of employeeList"></nz-option>
    </nz-select>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Search level..." [ngModel]="null" style="width: 10%;">
        <nz-option [nzLabel]="item.label" [nzValue]="item.value" *ngFor="let item of levelList | async"></nz-option>
    </nz-select>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Search position..." [ngModel]="null" style="width: 10%;">
        <nz-option [nzLabel]="item.label" [nzValue]="item.value" *ngFor="let item of positionList | async"></nz-option>
    </nz-select>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Search department..." [ngModel]="null" style="width: 20%;">
        <nz-option [nzLabel]="item.name" [nzValue]="item.id" *ngFor="let item of departmentList | async"></nz-option>
    </nz-select>
    <button nz-button nzType="primary" (click)="refresh()" class="ml-per btn-refresh">
        <i class="fa-solid fa-arrows-rotate mr-5"></i>
        <span>Refresh</span>
    </button>
</div>
<nz-table #table [nzData]="employeeList">
    <thead>
        <tr>
            <th nzAlign="center">Name</th>
            <th nzAlign="center">Sex</th>
            <th nzAlign="center">Email</th>
            <th nzAlign="center">Phone</th>
            <th nzAlign="center">Level</th>
            <th nzAlign="center">Position</th>
            <th nzAlign="center">Department</th>
            <th nzAlign="center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr [id]="data.id" *ngFor="let data of table.data">
            <td>{{ data.fullName }}</td>
            <td nzAlign="center">
                <i class="fa-solid" [ngClass]="data.sex == true ? 'fa-mars' : 'fa-venus'"></i>
            </td>
            <td>{{ data.email }}</td>
            <td nzAlign="center">{{ data.phone }}</td>
            <td nzAlign="center">
                <app-tag [label]="level[data.level]"></app-tag>
            </td>
            <td nzAlign="center">{{ position[data.position] }}</td>
            <td nzAlign="center">
                <app-tag *ngIf="data.departmentId" [color]="getDepartmentName(data.departmentId).color"
                    [label]="getDepartmentName(data.departmentId).name"></app-tag>
            </td>
            <td nzAlign="center">
                <button nz-button nzType="primary" class="btn-action mr-5">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button nz-button nzDanger nzType="primary" class="btn-action">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>
<app-create-or-edit-employee [visible]="visible" (cancel)="visible = false"></app-create-or-edit-employee>