<nz-card nzTitle="Explore the opportunities">
  <div nz-card-grid class="card-grid" *ngFor="let item of jobList">
    <h4>{{ item.jobTitle }}</h4>
    <div nz-row [nzGutter]="[4, 4]">
      <div nz-col class="gutter-row" [nzSpan]="18">
        <div class="inner-box">
          <div>
            <span class="fw-bold">Expire: </span>
            <span
              >{{ item.fromDate | date : "dd/MM/yyyy" }} -
              {{ item.toDate | date : "dd/MM/yyyy" }}</span
            >
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row col-btn" [nzSpan]="6">
        <div class="inner-box">
          <button nz-button nz-row class="btn-action" (click)="applyNow()">
            <span nz-col [nzSpan]="6"
              ><i class="fa-solid fa-file-signature mr-5"></i
            ></span>
            <span nz-col [nzSpan]="18">Apply Now</span>
          </button>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="18">
        <div class="inner-box">
          <div>
            <span class="fw-bold">Quantity: </span>
            <span *ngIf="item.quantity == 1">Only 1 person</span>
            <span *ngIf="item.quantity > 1">{{ item.quantity }} people</span>
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row col-btn" [nzSpan]="6">
        <div class="inner-box">
          <button
            nz-button
            nz-row
            class="btn-action"
            (click)="viewDetail(item.id)"
          >
            <span nz-col [nzSpan]="6"
              ><i class="fa-solid fa-calendar-day mr-5"></i
            ></span>
            <span nz-col [nzSpan]="18">Job Detail</span>
          </button>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="18">
        <div class="inner-box">
          <div>
            <span class="fw-bold">Salary: </span>
            <span>{{ item.salaryRange }}</span>
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row col-btn" [nzSpan]="6">
        <div class="inner-box">
          <button
            nz-button
            nz-row
            class="btn-action"
            (click)="copyToClipboard(item.id)"
          >
            <span nz-col [nzSpan]="6"
              ><i class="fa-solid fa-link mr-5"></i
            ></span>
            <span nz-col [nzSpan]="18">Share Link</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nz-card>
